<ul data-color="#0095DA" data-label="S1">
            <li data-coords="2,12" data-marker="interchange" data-labelPos="E"><a href="http://jqueryui.com/demos/tabs/">Wiesbaden Hbf</a></li>
            <li data-coords="2,13" data-marker="interchange" data-labelPos="E"><a href="http://jqueryui.com/demos/accordion/">Wi Ost</a></li>
            <li data-coords="2,15"></li>
            <li data-coords="2.27,15.79" data-marker="@interchange" data-dir="W" data-labelPos="E"><a href="http://jqueryui.com/demos/autocomplete/">Kastel</a></li>
            <li data-coords="3.1,16" data-dir="S"></li>
            <li data-coords="7,16" data-marker="@interchange" data-labelPos="UP"><a href="http://jqueryui.com/demos/autocomplete/">Hochheim</a></li>
            <li data-coords="8,16" data-labelPos="UP" data-marker="station"><a href="http://jqueryui.com/demos/autocomplete/">Flersheim</a></li>
            <li data-coords="9,16" data-labelPos="UP"><a href="http://jqueryui.com/demos/autocomplete/">Eddersheim</a></li>
            <li data-coords="10,16" data-labelPos="NE"><a href="http://jqueryui.com/demos/autocomplete/">Hattersheim</a></li>
            <li data-coords="13,16" data-labelPos="SW"><a href="http://jqueryui.com/demos/autocomplete/">F-Sindlingen</a></li>
            <li data-coords="14,16"></li>
            <li data-coords="15,16.3" data-dir="S"></li>
            <li data-coords="15.4,16.3" data-dir="S" data-labelPos="SE" data-marker="interchange"><a href="http://jqueryui.com/demos/autocomplete/">Farbwerke</a></li>
            <li data-coords="19,16.3" data-dir="E" data-labelPos="NW" data-marker="interchange"><a href="http://jqueryui.com/demos/autocomplete/">Frankfurt - Hochst</a></li>
            <li data-coords="20,17" data-dir="E" data-labelPos="SW"><a href="http://jqueryui.com/demos/autocomplete/">F-Nied</a></li>
            <li data-coords="21,18" data-dir="S"></li>
            <li data-coords="24,18" data-dir="E" data-labelPos="SW"><a href="http://jqueryui.com/demos/autocomplete/">F-Griesheim</a></li>
            <li data-coords="26,18" data-dir="NE"></li>
            <li data-coords="27,17" data-dir="NE" data-marker="@station"></li>
            <li data-coords="28,16" data-dir="NE" data-marker="@station"><a href="http://jqueryui.com/demos/autocomplete/">Frabkfurt Hbf\ICE IC</a></li>
            <li data-coords="30,14" data-dir="N"></li>
            <li data-coords="30.5,14" data-dir="N" data-marker="interchange" data-markerInfo="V2" data-labelPos="NW"><a href="http://jqueryui.com/demos/autocomplete/">Taunusanlage</a></li>
            <li data-coords="33,14" data-dir="N" data-marker="interchange"><a href="http://jqueryui.com/demos/autocomplete/">Hauptwache</a></li>
        </ul>