<ul data-color="#8D1D8A" data-label="S9" data-shiftCoords="-2,1" class="box">
    <li data-coords="1.8,12" data-marker="interchange" data-labelPos="E" data-markerInfo="h2">
        <a href="http://jqueryui.com/demos/tabs/"> </a>
    </li>
    <li data-coords="1.8,13" data-marker="interchange" data-markerInfo="h2" data-labelPos="E">
        <a href="http://jqueryui.com/demos/accordion/"> </a>
    </li>
    <li data-coords="2.22,15"></li>
    <li data-coords="2.27,15.79" data-marker="@interchange" data-dir="NE" data-labelPos="E">
        <a href="http://jqueryui.com/demos/autocomplete/"> </a>
    </li>
    <li data-coords="3.6,16" data-dir="S"></li>
    <li data-coords="6,16" data-dir="S"></li>
    <li data-coords="7,17" data-dir="E"></li>
    <li data-coords="7,18" data-dir="E"></li>
    <li data-coords="7,19" data-dir="W"></li>
    <li data-coords="8,20" data-dir="S"></li>
    <li data-coords="9,20" data-dir="E"></li>
    <li data-coords="10,20" data-marker="station" data-dir="E" data-labelPos="DN"><a href="http://jqueryui.com/demos/autocomplete/">Bischlofsheim</a></li>
    <li data-coords="13,20" data-dir="E" data-labelPos="DN"><a href="http://jqueryui.com/demos/autocomplete/">Opelswerk</a></li>
    <li data-coords="15.9,20" data-dir="E" data-labelPos="DN"><a href="http://jqueryui.com/demos/autocomplete/">Russelsheim</a></li>
    <li data-coords="17,20" data-dir="E" data-labelPos="DN"><a href="http://jqueryui.com/demos/autocomplete/">Rauenheim</a></li>
    <li data-coords="18,20" data-dir="E" data-labelPos="DN"><a href="http://jqueryui.com/demos/autocomplete/">Kelsterbach</a></li>
    <li data-coords="19,20" data-dir="E" data-labelPos="NE"></li>
    <li data-coords="20,21" data-dir="E" data-labelPos="NE"></li>
    <li data-coords="21,22" data-dir="S" data-labelPos="E"></li>
    <li data-coords="23,22" data-dir="S" data-labelPos="E"></li>
</ul>